# Ollama Configuration (don't worry, this IP address is private)
OLLAMA_HOST=http://100.118.11.83:11434
SMALL_MODEL=sparksammy/samantha-combo-3-small:latest
MEDIUM_MODEL=sparksammy/bartowski_ornith-1.0-35b:latest
LARGE_MODEL=deepseek-v4-flash:cloud

# GitHub Configuration
GITHUB_USER=mymel2001-holder
# GITHUB_ORG=Automeltic  # Uncomment to use a org.
# The token is clearly fake here, put yours with RW repo, user, workflow, and org perms.
GITHUB_TOKEN=sksksk-annaoop

# Project generation prompt
PROMPT_PREFIX="A modern web application written in NodeJS that"
