# Ollama Configuration (don't worry, this IP address is private)
OLLAMA_HOST=http://100.118.11.83:11434
SMALL_MODEL=gemma4:e4b
MEDIUM_MODEL=sparksammy/samantha-4-combo:small
LARGE_MODEL=hf.co/unsloth/Qwen3.8-27B-GGUF:UD-IQ3_S

# GitHub Configuration
GITHUB_USER=mymel2001-holder
GITHUB_ORG=Automeltic  # Comment to use a user.
# The token is clearly fake here, put yours with RW repo, user, workflow, and org perms.
GITHUB_TOKEN=sksksk-annaoop

# Project generation prompt
PROMPT_PREFIX="(PICK ANY RANDOM IDEA): A modern (web application OR api OR cli tool - pick one) written in NodeJS that..."
